@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

#banner{
    background-image: url('../../assets/Batman-banner.jpg');
    background-image: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

@media(max-width: 768px){
    #banner{
        background-position: 40%;
    }
}